:root {
  --main-font: "Montserrat", sans-serif;
  --semi-font: "Jaldi", sans-serif;
  --paragraph-font: "Roboto Slab", serif;
  --shadow: 5px 5px 40px black;
}

.body {
  background-color: #161616;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
}
.homepage {
  height: 800px;
}
.contactbox {
  width: 152px;
  height: 800px;
  box-shadow: var(--shadow);
  background: #161616;
  border-radius: 10px;
  float: left;
}
.logo {
  background: transparent;
  border: 1px solid #808080;
  width: 30px;
  height: 30px;
  border-radius: 10px 10px 10px 0;
  margin: 50px auto;
  text-align: center;
  color: #f38ba2;
  font-size: 20px;
  font-family: var(--semi-font);
}

.ul {
  margin: 175px 10px 0;
  padding-left: 0;
  text-align: center;
}

.li {
  list-style: none;
  color: #f9f4da;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 200;
  line-height: 40px;
  font-size: 15px;
  margin: 0 auto;
}
.li:hover,
.li span:hover {
  color: #fc7427;
  text-shadow: 0 0 15px #fc7427, 0 0 20px #fc7427, 0 0 25px #fc7427;
}
.home {
  font-size: 25px;
  font-weight: bold;
}
.contacticon {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin: 150px 0;
  font-size: 25px;
}
.phone {
  color: #fc7427;
}
.phone:hover,
.email:hover,
.linkedin:hover {
  font-size: 40px;
  transition: font-size 500ms ease-in-out;
  cursor: pointer;
}
.email {
  color: #11b5e5;
}
.linkedin {
  color: #7a5ea6;
}
.subcontainer {
  display: flex;
  justify-content: center;
}
.hellosection {
  margin-top: 205px;
  margin-left: 50px;
}

.hello {
  text-align: center;
  font-size: 60px;
  margin: 0;
  line-height: 100px;
  color: #f9f4da;
  font-family: var(--main-font);
  font-weight: bold;
}
.hello span {
  color: #fcba28;
  font-family: var(--main-font);
  font-weight: bold;
}

.button a {
  background: #fcba28;
  text-align: center;
  color: black;
  padding: 13px 46px;
  border-radius: 40px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
}
.button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.front {
  display: flex;
  flex-direction: column;
  margin-top: 310px;
  margin-left: 50px;
}
.front div {
  color: white;
  font-size: 25px;
  font-family: var(--main-font);
  text-align: center;
}

.hr {
  display: flex;
  flex: 1;
  color: #fcba28;
  opacity: unset;
  width: 500px;
  margin: 10px 0;
}

.about {
  margin-top: 100px;
  height: 300px;
}

div h2 {
  color: #f9f4da;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--semi-font);
}
div p {
  color: white;
  text-align: justify;
  line-height: 30px;
  margin-top: 20px;
  font-family: var(--main-font);
}

.square {
  margin: 0 auto;
  color: transparent;
  background-color: transparent;
}
.red {
  border: 8px solid #ed203d;
  width: 80%;
  height: 100%;
  padding: 150px;
  border-radius: 20px;
  box-shadow: 0 0 3em 0 #ed203d, inset 0 0 3em 0 #ed203d;
}

.works {
  display: block;
  margin-top: 100px;
}
.works h2 {
  text-align: center;
  text-transform: uppercase;
  color: #f9f4da;
  font-family: var(--semi-font);
  font-size: 40px;
}

.mywork {
  margin-bottom: 80px;
}
.grooming a {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  font-weight: 200;
  text-decoration: none;
}

.grooming a:hover {
  color: #f38ba2;
  text-shadow: 0 0 15px #f38ba2, 0 0 20px #f38ba2, 0 0 25px #f38ba2;
}
.pink {
  display: flex;
  border: 8px solid #f38ba2;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 3em 0 #f38ba2, inset 0 0 3em 0 #f38ba2;
}
.groomingshop {
  max-width: 100%;
  margin: 30px 0 35px 50px;
}

.second {
  margin-top: 100px !important;
}
.green {
  border: 8px solid #0fa85b;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 3em 0 #0fa85b, inset 0 0 3em 0 #0fa85b;
}
.weatherapp {
  margin: 30px 0 35px 50px;
  max-width: 100%;
}
.weather a {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  font-weight: 200;
  text-decoration: none;
}
.weather a:hover {
  color: #0fa85b;
  text-shadow: 0 0 15px #0fa85b, 0 0 20px #0fa85b, 0 0 25px #0fa85b;
}
.paragraph {
  margin-left: 69px !important;
}

.third {
  margin-top: 100px !important;
}
.purpl {
  border: 8px solid #7a5ea6;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 3em 0 #7a5ea6, inset 0 0 3em 0 #7a5ea6;
}
.hpshop {
  margin: 30px 0 35px 50px;
  max-width: 100%;
}

.hp a {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  font-weight: 200;
  text-decoration: none;
}
.hp a:hover {
  color: #7a5ea6;
  text-shadow: 0 0 15px #7a5ea6, 0 0 20px #7a5ea6, 0 0 25px #7a5ea6;
}

.footer {
  margin-top: 100px;
  box-shadow: 2px 3px 50px black;
  border-radius: 10px;
  padding-top: 30px;
  height: 300px;
  max-width: 100%;
}
.footer h2 {
  color: #f9f4da;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--semi-font);
}

.fourth {
  margin-top: 30px !important;
}
.contact {
  display: flex;
  justify-content: center;
  list-style: none;
}
.contactphone {
  font-size: 25px;
  color: #fc7427;
}
li {
  line-height: 50px;
}
li span,
.emailcontact {
  font-size: 20px;
  color: #f9f4da;
  font-family: var(--main-font);
  font-weight: 200;
  text-decoration: none;
  margin-left: 10px;
}
.contactemail {
  font-size: 25px;
  color: #11b5e5;
}
.network {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-right: 50px;
}
.network li {
  list-style: none;
}
.network li i {
  font-size: 25px;
}
.link {
  color: #7a5ea6;
}
.face {
  color: #0fa85b;
}
.inst {
  color: #f38ba2;
}
.twit {
  color: #fc7427;
}

@media (max-width: 1200px) {
  .hr {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .hr {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .hellosection {
    margin-left: 100px;
  }

  .about {
    margin-top: 300px !important;
  }
  .about h2 {
    margin-top: 20px;
  }
  .works {
    margin-top: 300px !important;
  }
  .mywork {
    margin-bottom: 20px;
  }
  .grooming {
    margin-top: 20px;
  }
  .works p {
    text-align: center;
    margin-bottom: 10px;
  }
  .second {
    margin-top: 40px !important;
  }
}
@media (max-width: 300px) {
  .hello {
    font-size: 40px;
  }
}
