:root {
  --main-font: "Montserrat", sans-serif;
  --semi-font: "Jaldi", sans-serif;
  --paragraph-font: "Roboto Slab", serif;
  --shadow: 5px 5px 40px black;
}

.body {
  background-color: #161616;
}

h2 {
  font-family: var(--semi-font);
  text-transform: uppercase;
}
p {
  font-family: var(--paragraph-font);
}

.container {
  display: flex;
  margin: 73px;
  box-shadow: var(--shadow);
  height: 3851px;
  background: #161616;
  border-radius: 10px;
}
.contactbox {
  width: 152px;
  height: 750px;
  box-shadow: var(--shadow);
  background: #161616;
  margin-left: -10px;
  border-radius: 10px;
}
.logo {
  background: transparent;
  border: 1px solid #808080;
  width: 30px;
  height: 30px;
  border-radius: 10px 10px 10px 0;
  margin: 70px auto;
  text-align: center;
  color: #f38ba2;
  font-size: 20px;
  font-family: var(--semi-font);
}

.ul {
  margin: 150px 10px 0;
  padding-left: 0;
  text-align: center;
}

li {
  list-style: none;
  color: #f9f4da;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 200;
  line-height: 40px;
  font-size: 15px;
  margin: 0 auto;
}
li:hover {
  color: #fc7427;
}
.home {
  font-size: 25px;
  font-weight: bold;
}
.contacticon {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin: 100px 0;
  font-size: 25px;
}
.phone {
  color: #fc7427;
}
.email {
  color: #11b5e5;
}
.linkedin {
  color: #7a5ea6;
}
.backletter {
  width: 1100px;
  height: 800px;
  position: relative;
}
.row {
  color: white;
  font-size: 400px;
  line-height: 380px;
  text-align: center;
  margin: 0 auto;
  flex: 1;
  font-family: Arial;
  font-weight: bold;
  color: #1b1b1b;
  z-index: 7;
}
.main {
  position: absolute;
  z-index: 3;
  left: 65%;
  top: 28%;
}

.hello {
  text-align: center;
  font-size: 80px;
  margin: 0;
  line-height: 160px;
  color: #f9f4da;
  font-family: var(--main-font);
  font-weight: bold;
}
.hello span {
  color: #fcba28;
  font-family: var(--main-font);
  font-weight: bold;
}
.name {
  font-size: 60px;
  color: #f9f4da;
  font-family: var(--main-font);
  font-weight: bold;
}
.button a {
  background: #fcba28;
  text-align: center;
  color: black;
  padding: 13px 46px;
  border-radius: 40px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
}
.button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.front {
  position: absolute;
  left: -160%;
  top: 46%;
}

.front div {
  color: white;
  font-size: 25px;
  font-family: var(--main-font);
  text-align: center;
}

.hr {
  color: #fcba28;
  opacity: unset;
  width: 500px;
  margin: 10px 0;
}
